<div class="pi" [ngClass]="containerClasses">
  <label
    *ngIf="label"
    class="pi-label"
    [ngClass]="{ 'sr-only': hideLabel }"
    [attr.for]="inputId"
  >
    {{ label }}
  </label>

  <div class="pi-field">
    <input
      class="pi-control"
      [id]="inputId"
      [attr.name]="name || null"
      [attr.autocomplete]="autocomplete"
      [attr.maxLength]="maxLength ?? null"
      [disabled]="disabled || skeleton"
      [readOnly]="readonly"
      [required]="required"
      [attr.aria-required]="required ? true : null"
      [attr.aria-invalid]="showError ? true : null"
      [attr.aria-describedby]="describedBy"
      [attr.aria-label]="computedAriaLabel"
      [type]="fieldType"
      [(ngModel)]="value"
      [attr.placeholder]="placeholder"
      (input)="onInput($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      (keydown)="onKeydown($event)"
    />

    <div
      class="pi-actions"
      *ngIf="!skeleton && (showError || showWarning || (toggleVisibility && !readonly && !disabled))"
    >
      <i
        *ngIf="showError"
        class="fa fa-circle-exclamation"
        aria-hidden="true"
      ></i>
      <i
        *ngIf="!showError && showWarning"
        class="fa fa-triangle-exclamation"
        aria-hidden="true"
      ></i>
      <button
        *ngIf="toggleVisibility && !readonly && !disabled"
        type="button"
        class="pi-eye"
        (click)="onToggleVisibility()"
        [attr.aria-pressed]="visible"
        [attr.aria-label]="visible ? 'Ocultar senha' : 'Mostrar senha'"
        [title]="visible ? 'Ocultar senha' : 'Mostrar senha'"
      >
        <i [class]="'fa ' + (visible ? 'fa-eye-slash' : 'fa-eye')" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <div
    class="pi-meta"
    *ngIf="!skeleton && (helperText || (showError && errorMessage) || (!showError && showWarning && warningMessage) || (maxLength !== null))"
  >
    <ng-container>
      <p
        class="helper"
        *ngIf="helperText && !showError && !showWarning"
        [id]="helperId"
        aria-live="polite"
      >
        {{ helperText }}
      </p>
      <p
        class="error"
        *ngIf="showError && errorMessage"
        [id]="errorId"
        role="alert"
      >
        {{ errorMessage }}
      </p>
      <p
        class="warning"
        *ngIf="!showError && showWarning && warningMessage"
        [id]="warnId"
        aria-live="polite"
      >
        {{ warningMessage }}
      </p>
    </ng-container>
    <span
      class="counter"
      *ngIf="maxLength !== null"
      [id]="counterId"
    >
      {{ value?.length || 0 }} / {{ maxLength }}
    </span>
  </div>
</div>
