<app-header (toggleSidebar)="toggleSidebar()"></app-header>

<div class="d-flex">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Overlay (apenas mobile, fecha o sidebar ao clicar) -->
  <div class="sidebar-overlay" (click)="closeSidebar()"></div>

  <!-- Conteúdo principal -->
  <main class="flex-grow-1 p-4 app-content">
    <router-outlet></router-outlet>
  </main>
</div>

<footer class="footer mt-auto">
  <div class="container text-center">
    <span class="text-muted" style="color: white !important; ">
      © 2025 Corregedoria - Sistema de Gestão de Agentes Voluntários
    </span>
  </div>
</footer>
